#rules {
    margin: 1rem;
}

h3.rules-header {
    font-weight: 800;
}

li.main-rule {
    font-weight: 500;
    margin-top: 1rem;
}

li.sub-rule {
    font-weight: 300;
    margin-top: 1rem;
}

a.nav-link.about {
    color: green;
}