{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'ypa_aze_app/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <p class="main-description">
                Komandamız Amerika Birləşmiş Ştatlarının və Kanadanın YPA(Young Physicists Association) qurumu ilə
                əməkdaşlıq
                edir.
                Bu “Physics Bowl” turnamenti Azərbaycanda ilk dəfə Təhsil Nazirliyinin dəstəyi ilə keçirilir.
                Bu turnament fizikanı və sürətli “quiz bowl” formatını(daha ətraflı “Haqqında” bölməsində) sevənlər üçün
                əla
                fürsətdir.
            </p>
        </div>
        <div class="col-md-6">
            <img id="logo" src="{% static 'ypa_aze_app/images/logos/logo.png' %}">
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <h3>Ümumi Məlumat</h3>
            <ul>
                <li>Qeydiyyatdan keçmək üçün komanda 1-4 nəfərdən təşkil olunmalıdır.</li>
                <li>Qeydiyyatdan yalnız komandanın bir üzvü keçməlidir. Bu halda bütün komanda qeydiyyatdan keçmiş
                    sayılır. Hər bir komanda üzvünün qeydiyyatdan keçməsi lazım deyil.</li>
                <li>Turnament 9,10,11-ci sinif və özünə güvənən aşağı sinif şagirdləri üçün nəzərdə tutulub</li>
                <li>Şagirdlərin bir biri ilə qarşı qarşıya gəlməyi sinfindən asılı deyil, yəni 8ci sinif 11ci sinifə
                    qarşı yarışa bilər.</li>
                <li>Turnamentin sillabusu Azərbaycan məktəb kurikulumundan bir qədər kənara çıxır.</li>
                <li>Turnament 30 Avqust 2020 tarixində “Zoom” programı vasitəsilə keçiriləcək.</li>
                <li>Tələbdən asılı olaraq, ilk qeydiyyatdan keçən 32 və ya 64 komanda turnamentdə iştirak edə biləcək.</li>
                <li>Yarış Azərbaycan dilində keçiriləcək</li>
                <li>Qeydiyyat üçün son tarix 20 Avqust 2020-dir</li>
            </ul>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <h3>Hədiyyələr</h3>
            <ul>
                <li>1-ci yer - 100 AZN</li>
                <li>2-ci yer - 75 AZN</li>
                <li>3-cü yer - 50 AZN -lik hədiyyə kartı</li>
            </ul>
            <a href="https://forms.gle/kN9R51wNXPtE164p6" target="_blank">
                <button type="button" class="center btn btn-large btn-outline-success">QEYDİYYAT</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}