{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'ypa_aze_app/css/team.css' %}">
{% endblock %}

{% block content %}
<div id="team-list">
    <div class="ayhan card">
        <div class="card-body">
            <img src="{% static 'ypa_aze_app/images/people/Ayhan_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Ayhan Süleymanzadə
                </h3>
                <h5 class="position">
                    PhBA Writer
                </h5>
                <h6 class="school">
                    Tdv-Baku Turkish Lyceum
                </h6>
            </div>
        </div>
    </div>
    <div class="murad card">
        <div class="card-body">
            <img src="{% static 'ypa_aze_app/images/people/Murad_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Murad Bəşirov
                </h3>
                <h5 class="position">
                    PhBA Writer
                </h5>
                <h6 class="school">
                    TET Gymnasium
                </h6>
            </div>
        </div>
    </div>
    <div class="sirac card">
        <div class="card-body">
            <img src="{% static 'ypa_aze_app/images/people/Sirac_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Sirac Yəhyazadə
                </h3>
                <h5 class="position">
                    PhBA Writer
                </h5>
                <h6 class="school">
                    TET Gymnasium
                </h6>
            </div>
        </div>
    </div>
    <div class="sid card">
        <div class="card-body">
            <img src="{% static 'ypa_aze_app/images/people/Sid_Circle.jpg' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Siddharth Jha
                </h3>
                <h5 class="position">
                    Advisor
                </h5>
                <h6 class="school">
                    Huron High School
                </h6>
            </div>
        </div>
    </div>
    <div class="murad card">
        <div class="card-body">
            <img src="{% static 'ypa_aze_app/images/people/Joshua_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Joshua Scripcaru
                </h3>
                <h5 class="position">
                    Advisor
                </h5>
                <h6 class="school">
                    Earl Haig Secondary School
                </h6>
            </div>
        </div>
    </div>
</div>
{% endblock %}